@page "/brokers/{BrokerId}"
@inject IBrokerService _brokerService
<h3>Broker</h3>

@code {
    [Parameter]
    public string BrokerId { get; set; } = string.Empty;
    private bool IsLoading { get; set; } = false;
    private Broker Broker = new();

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        var response = await _brokerService.GetBroker(BrokerId);
        IsLoading = false;
    }
}
