@inject IStringLocalizer<ConfirmDialog> _localizer;
@inject IClientService _clientService;

<MudDialog>
    <DialogContent>

        <LoadingDialog>
            <Title>
                <MudText Align="Align.Start"
                         Typo="Typo.h6">
                    @_localizer["Confirmation Required"]
                </MudText>
            </Title>
            <Content>
                <MudText>
                    @Description
                </MudText>
            </Content>
            <Actions>
                <MudButton OnClick="Cancel"
                           Variant="Variant.Filled"
                           Color="Color.Error">
                    @_localizer["Cancel"]
                </MudButton>
                <MudButton OnClick="Remove"
                           Variant="Variant.Filled"
                           Color="Color.Primary">
                    @_localizer["Continue"]
                </MudButton>
            </Actions>
        </LoadingDialog>
    </DialogContent>
</MudDialog>

@code
{
    [CascadingParameter]
    private MudDialogInstance? Dialog { get; set; }

    [Parameter]
    public string Description { get; set; } = string.Empty;

    private void Cancel() => Dialog!.Cancel();

    private void Remove() => Dialog!.Close(DialogResult.Ok(true));
}
