.image-in-background {
    background-image: url('/image/unauthorised-background.png');
    background-size: cover; 
    background-position: center; 
    min-height: 300px; 
    color: #fff; 
}

.progress-linear {
    z-index: 10;
}

.progress-linear-under-appbar {
    z-index: 10;
    margin-top: 49px;
}