@page "/subs"

@inject IClientService _clientService

<PageLoading FailedToLoad="!LoadedSuccessfully">
    <FailedToLoadContent>
        <div>
            Failed to load... TODO: Refresh button
        </div>
    </FailedToLoadContent>
    <LoadedContent>
        <MudSimpleTable>
            <MudTr>
                <MudTd>Topic</MudTd>
                <MudTd>Value</MudTd>
            </MudTr>
            @foreach (var client in Clients)
            {
                @foreach (var topic in client.TopicService.Topics)
                {

                    <MudTr>
                        <MudTd>@topic.Item1</MudTd>
                        <MudTd>@topic.Item2</MudTd>
                    </MudTr>

                }
            }
        </MudSimpleTable>
    </LoadedContent>
</PageLoading>

@code {

    public bool LoadedSuccessfully { get; set; } = true;

    private IList<IClient> Clients { get; set; } = new List<IClient>();

    protected override async Task OnInitializedAsync()
    {
        if (_loadingService.IsLoading)
            return;

        _loadingService.ShowLoading();

        var result = await _clientService.GetClients();
        if (result.Succeeded)
        {
            Clients = result.Data;
            LoadedSuccessfully = true;
        }

        if (result.ShowToast)
            foreach (var message in result.Messages)
                _snackbar.Add(message, result.Severity);

        _loadingService.HideLoading();
    }
}
